/* NAV FRAME */

.checkout_frame .nav_frame {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eaeaea;
}

.nav_frame .container {
  flex-direction: row;
  justify-content: space-between;
}

.container .nav_menus {
       width: 100%;
       height: auto;

       margin-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;
       /* border-bottom: 1px solid #eaeaea; */
}


.container .nav_menus a {
       margin-right: 30px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;

       padding-bottom: 12px;
       border-bottom: 2px solid transparent;
}

.container .nav_menus a:hover {
       color: black;
       border-bottom: 2px solid black;
       margin-bottom: -6px;
}
/* NAV MENUS BOTTOM */

.body_frame .nav_frame_bot {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 50px;
  /* border-bottom: 1px solid #eaeaea; */
}

.nav_frame_bot .container {
  flex-direction: row;
  justify-content: space-between;
}

.container .nav_menus_bot {
       width: 100%;
       height: auto;

       margin-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;
       border-bottom: 2px solid #eaeaea;
}

.container .nav_menus_bot a {
       margin-right: 30px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;

       padding-bottom: 12px;
       border-bottom: 2px solid transparent;
}

.container .nav_menus_bot a:hover {
       color: black;
       border-bottom: 2px solid black;
       margin-bottom: -6px;
}

/* MAIN NAV FRAME */

.cart_frame .top_nav_frame {
       position: relative;

       display: flex;
       flex-direction: row;
       justify-content: center;

       width: 100%;
       height: auto;

}

.top_nav_frame .container {
       flex-direction: row;
       
}

.container .menus {
       margin-top: 10px;

       display: flex;

}

.container .menus a {
       margin-right: 20px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
}

.container .menus .exapt_menu a {
       color: rgba(98, 105, 116, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
}

/* SHOPPING CART FRAME */

.cart_frame .shopping_cart_frame {
       position: relative;

       display: flex;
       flex-direction: row;
       justify-content: center;

       width: 100%;
       height: auto;
}

.shopping_cart_frame .container {
       flex-direction: column;
}

.container .cart_name {
       display: flex;
       flex-direction: column;
       justify-content: center;
}

.cart_name .main_name {
       margin-top: 70px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 28px;
       font-weight: 500;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: center;
}

.cart_name .title {
       margin-top: 50px;
       color: rgba(0, 0, 0, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: center;
}

.cart_name .inp {
       display: flex;
       justify-content: center;
}

.inp input {
       margin-top: 20px;
       width: 350px;
}

.container .cart_table {
       display: flex;
       flex-direction: row;
}

.cart_table .table {
       width: 872px;
       height: 682px;
}

.table .table_row {
       display: flex;
       flex-direction: row;
       width: 320px;
}

.table .quantity {
       width: 100px;
       margin: 0;
}

.table .table_row .table_row_info {
       margin-left: 15px;
       display: flex;
       flex-direction: column;
}

.table .table_row img {
       width: 93px;
       height: 100px;
}

.table .table_row span {
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 16px;
       font-weight: 400;
       line-height: 28px;
       letter-spacing: 0%;
       text-align: left;
}

.buttons .count {

       display: flex;
       align-items: center;
       justify-content: center;

       border: 1px solid #ddd;
       width: 100px;
       height: 40px;
       border-radius: 25px;
}

.buttons .count button {
       width: 20px;
       height: 20px;
       border: none;
       border-radius: 25px;
       background-color: #f5f5f5;
       font-size: 18px;
       cursor: pointer;
}

.buttons .count input {
       width: 30px;
       text-align: center;
       border: none;
       outline: none;
       font-size: 16px;
}

.cart_table table {
       margin-top: 80px;
       box-sizing: border-box;
       border: 1px solid rgba(234, 234, 234, 1);
       border-radius: 6px;
       background: rgba(255, 255, 255, 1);
       border-collapse: collapse;
}

.cart_table table th {
       height: 70px;
       width: 870px;

       border-radius: 6px 6px 0px 0px;
       background: rgba(243, 245, 246, 1);
}

.cart_table table td {
       align-items: center;
       height: 160px;
       padding: 5px;
       margin-left: 5px;
       width: 300px;
       box-sizing: border-box;
}

.cart_table table th, td {
       border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.cart_table .total {
       display: flex;
       flex-direction: column;

       margin-top: 80px;
       margin-left: 40px;
       width: 422px;
       height: 418px;

       box-sizing: border-box;
       border: 1px solid rgba(234, 234, 234, 1);
       border-radius: 6px;
       background: rgba(255, 255, 255, 1);
}

.total .total_info {
       margin-top: 20px;

       display: flex;
       flex-direction: row;

       border-bottom: 1px solid rgba(234, 234, 234, 1);
}


.total .total_name {
       margin-left: 20px;
       margin-top: 20px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 20px;
       font-weight: 500;
       line-height: 29px;
       letter-spacing: 0%;
       text-align: left;
}

.total .total_info {
       margin-left: 20px;
}

.total .final {
       margin-top: 30px;
       margin-left: 20px;
       display: flex;
       flex-direction: row;
}


.total .info_name {
       width: 330px;
       display: flex;
       flex-direction: column;
}

.total .info_price {
       margin-bottom: 10px;
       display: flex;
       flex-direction: column;
}

.total .info_name span {
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 16px;
       font-weight: 400;
       line-height: 35px;
       letter-spacing: 0%;
       text-align: left;
}

.total .info_price strong {
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 16px;
       font-weight: 400;
       line-height: 35px;
       letter-spacing: 0%;
       text-align: right;
}

.total .info_price .red {
       color: rgb(211, 83, 83);

       font-family: "Jost";
       font-style: normal;
       font-size: 16px;
       font-weight: 400;
       line-height: 35px;
       letter-spacing: 0%;
       text-align: right;
}

.final .final_total {
       width: 330px;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 16px;
       font-weight: 500;
       line-height: 35px;
       letter-spacing: 0%;
       text-align: left;
}

.final .final_price {
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 16px;
       font-weight: 500;
       line-height: 35px;
       letter-spacing: 0%;
       text-align: left;
}

.total .cart_button {
       margin-left: 25px;
       margin-top: 20px;
       width: 365px;
       height: 52px;

       display: flex;
       justify-content: center;
       align-items: center;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: center;

       box-sizing: border-box;
       border: 1px solid rgba(245, 195, 75, 1);
       border-radius: 6px;
       /* Button-Shadow */
       box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
       background: rgba(245, 195, 75, 1);
}

.container .table_button {
       display: flex;
       flex-direction: row;
}

.table_button .code {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

       width: 360px;
       height: 55px;

       box-sizing: border-box;
       border: 1px dashed rgba(98, 105, 116, 1);
       border-radius: 6px;
       background: rgba(255, 255, 255, 1);
}

.code .coupon {
       width: 230px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 15px;
       font-weight: 400;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
}

.code .apply a {
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
       text-decoration-line: underline;
}

.table_button .continue a {
       margin-left: 135px;

       display: flex;
       justify-content: center;
       align-items: center;

       width: 198px;
       height: 52px;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: center;

       box-sizing: border-box;
       border: 2px solid rgba(245, 195, 75, 1);
       border-radius: 6px;
       /* Button-Shadow */
       box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}

.table_button .update a {
       margin-left: 20px;

       display: flex;
       justify-content: center;
       align-items: center;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: center;

       width: 150px;
       height: 52px;

       box-sizing: border-box;
       border: 1px solid rgba(245, 195, 75, 1);
       border-radius: 6px;
       /* Button-Shadow */
       box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
       background: rgba(245, 195, 75, 1);
}

/* FOOTER SECTION */

.cart_frame .footer_frame {
       position: relative;

       display: flex;
       flex-direction: row;
       justify-content: center;
       
       margin-top: 50px;
       width: 100%;
       height: 507px;

       background: rgba(243, 245, 246, 1);
}

.footer_frame .container {
       position: relative;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.container .footer_contents {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;

       margin-bottom: 80px;
       border-bottom: 1px solid #eaeaea;
}



.footer_contents .footer_contact {
       display: flex;
       flex-direction: column;

       width: 350px;
       height: auto;
}

.footer_contact .contact_info {
       display: flex;
       flex-direction: row;
}

.contact_info .contact_info_number {
       display: flex;
       flex-direction: column;
}

.footer_contents .footer_contact span {
       margin-bottom: 30px;
       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.contact_info .contact_info_number span {
       margin-left: 30px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
}

.contact_info .contact_info_number .name {
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 15px;
       font-weight: 500;
       line-height: 22px;
       letter-spacing: 0%;
       text-align: left;
}

.contact_info_img {
       display: flex;
       justify-content: center;
       align-items: center;

       width: 50px;
       height: 60px;
}

.footer_customer_support .footer_customer_content {
       display: flex;
       flex-direction: column;

}

.footer_customer_support .footer_customer_content p {
       margin-top: 10px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}


.footer_services .footer_service_content p {
       margin-top: 10px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_services {
       display: flex;
       flex-direction: column;
}


.footer_services span {
       margin-top: 10px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_services .footer_service_content p {
       margin-top: 10px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_customer_support {
       display: flex;
       flex-direction: column;

       margin-right: 100px;
}


.footer_customer_support span {
       margin-top: 10px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_contents .footer_follow {
       display: flex;
       flex-direction: column;
}

.footer_icons span {
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_contents .footer_follow {
       display: flex;
       flex-direction: column;
}

.footer_follow  {
       margin-left: 100px;
}

.footer_icons .icons {
       margin-bottom: 20px;
}

.footer_icons .icons i {
       margin-top: 20px;
       margin-right: 20px;
       width: 20px;
       height: 15px;
       color: rgba(4, 30, 66, 1);

       font-style: normal;
       font-size: 18px;
       font-weight: 400;
       line-height: 15px;
       letter-spacing: 0%;
       text-align: left;
       text-transform: capitalize;
}

.footer_follow .apps {
       margin-top: 20px;
       margin-bottom: 20px;
}

.footer_follow .apps .ios {
       margin-top: 28px;
}

.footer_follow .apps span {
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_follow .apps strong {
       margin-left: 12px;
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_contents .footer_credit_cards .footer_cards {
       margin-left: 50px;

       display: flex;
       flex-direction: column;
}

.footer_credit_cards .footer_cards {
       margin-top: 100px;
}

.footer_credit_cards .footer_cards span {
       color: rgba(4, 30, 66, 1);

       font-family: var(--font);
       font-style: Medium;
       font-size: 18px;
       font-weight: 500;
       line-height: 26px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_cards .cards_png {
       margin-top: 16px;
}

/* .footer_contents .footer_bottom {
       display: flex;
       flex-direction: row;
} */

.container .footer_bottom {
       display: flex;
       flex-direction: row;
}

.footer_bottom .name {
       position: absolute;
       left: 20px;
       display: flex;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
       
}

.footer_bottom .privacy span {
       margin-right: 20px;

       color: rgba(4, 30, 66, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
}



.footer_currency {
       position: relative;
       left: 300px;
       margin-right: 50px;
       display: flex;
       align-items: center;
       gap: 30px;
       padding: 8px 12px;
       width: 187px;
       height: 40px;

       box-sizing: border-box;
       border: 1px solid rgba(234, 234, 234, 1);
       border-radius: 6px;
       background: rgba(255, 255, 255, 1);

}

.footer_currency label {
       color: rgba(98, 105, 116, 1);

       font-family: "Jost";
       font-style: normal;
       font-size: 14px;
       font-weight: 400;
       line-height: 40px;
       letter-spacing: 0%;
       text-align: left;
}

.footer_currency select {
    border: none;
}
