.navbar_frame {
       position: relative;
       width: 100%;
       height: 145px;

       display: flex;
       flex-direction: row;
       justify-content: center;

       background: rgba(68, 50, 151, 1);;
}

.navbar_frame .container {
       position: relative;
       padding: 20px 0 14px;
       width: 1320px;
       height: auto;
       
}

.navbar_frame .container .navbar_top {
       width: 100%;
       height: 50px;

       display: flex;
       flex-direction: row; 
       justify-content: space-between;
       
}

.navbar_top .nav_search_frame {
       width: 651px;
       height: 50px;
       border-radius: 6px;

       display: flex;
       flex-direction: row;

       background-color: white;
}

.nav_search_frame .search_box {

       padding: 10px 17px;
       display: flex;
       flex-direction: row;
       align-items: center;
}

.search_box .category_list {
     width: 166px;
     height: 30px;

     border-right: rgb(185, 183, 183);
}

.category_list select {
     width: 140px;
     height: 30px;


     border: none;
     outline: none;

     color: rgb(4, 30, 66);
     font-family: "Jost", sans-serif;
     font-weight: 400px;
     line-height: 22px;
     letter-spacing: 0%;
}

.search_box input {
       width: 387px;
       height: 22px;
       margin-left: 12px;

       border: none;
     outline: none;

       color: rgb(98, 105, 116);
      font-family: "Jost", sans-serif;
      font-size: 15px;
      font-weight: 400px;
      line-height: 22px;
      letter-spacing: 0%;
}

.nav_search_frame .search_icon_box {
       width: 50px;
       height: 50px;

       display: flex;
       justify-content: center;
       align-items: center;

       border-radius: 0px 6px 6px 0px;
       background-color: rgb(245, 195, 75);

}

.nav_top_menu .top_menu_box {
       display: flex;
       flex-direction: row;

}

.top_menu_box .box_icon_box {
       position: relative;
       width: 54px;
       height: 50px;

       display: flex;
       align-items: center;
       justify-content: center;

       border: 1px solid rgba(255, 255, 255, 0.1);
       border-radius: 6px;
}

.box_icon_box img {
       width: 22px;
       height: 22px;
       
}

.navbar_top .nav_top_menu {
       width: 416px;
       height: 50px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       
             
}

.top_menu_box .box_info_box {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       width: 100px;

       margin-left: 16px;
}

.box_info_box span {
       color: rgb(255, 255, 255);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400px;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
}

.box_info_box strong {
       color: rgb(255, 255, 255);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 500px;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
}

.box_icon_box .basket_count {
       position: absolute;
       top: 0;
       right: 0;
       
       width: 15px;
       height: 15px;

       display: flex;
       justify-content: center;
       align-items: center;

       border-radius: 50%;
       background-color: rgb(245, 195, 75);

       color: rgb(11, 30, 64);
      font-family: "Jost", sans-serif;
      font-size: 10px;
      font-weight: 700px;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
}

.navbar_frame .container .navbar_bott {
       margin-top: 20px;
       border-top: 1px solid #5747a2;


}

.navbar_bott .navbar_bott_menu_box {
       margin-top: 10px;
       height: 30px;
       width: 1380px;

       display: flex;
       flex-direction: row;
       justify-content: space-between;
      
}

.navbar_bott .browse_box {
       width: 185px;

       display: flex;
       flex-direction: row;
       align-items: center;

       border-right: 1px solid #5747a2;
}

.browse_box img {
       width: 20px;
       height: 18px;
}

.browse_box span {
       margin-left: 10px;
      color: rgb(255, 255, 255);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400px;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left; 
}

.navbar_bott_menu_box .navbar_root_menu {
       display: flex;
       flex-direction: row;
       width: 670px;
}

.navbar_root_menu a {
       margin-right: 10px;
       color: rgb(255, 255, 255);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400px;

}

.navbar_root_menu a.title {
       color: #f5c34b;
}

.sorting_menu span {
       margin-left: 10px;
       color: rgb(255, 255, 255);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400px;

}






