.login_frame {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

       width: 100%;
       height: auto;
}

.login_frame .container {
       flex-direction: column;
       flex-direction: column;
       margin-top: 200px;
       width: 744px;
       height: 831px;

       box-sizing: border-box;
       border: 1px solid rgba(234, 234, 234, 1);
       border-radius: 6px;
       box-shadow: 0px 10px 50px 0px rgba(4, 30, 66, 0.05);
       background: rgba(255, 255, 255, 1);
}

.container .sign_in {
       display: flex;
       flex-direction: column;
}

.sign_in {
       display: flex;
       flex-direction: column;

       margin-top: 57px;
       padding-left: 68px;
       padding-right: 68px;
       box-sizing: border-box;

       .sign_name {
              span {
                     color: rgba(4, 30, 66, 1);

                     font-family: "Jost";
                     font-style: Medium;
                     font-size: 28px;
                     font-weight: 500;
                     line-height: 40px;
                     letter-spacing: 0%;
                     text-align: left;
              }
       }

       .sign_username {
              margin-top: 55px;
              span {
                     margin-top: 55px;
                     color: rgba(4, 30, 66, 1);

                     font-family: "Jost";
                     font-style: Medium;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: left;
              }

              input {
                     margin-top: 15px;
                     width: 608px;
                     height: 72px;

                     box-sizing: border-box;
                     border: 1px solid rgba(4, 30, 66, 1);
                     border-radius: 6px;
                     box-shadow: 0px 10px 20px 0px rgba(4, 30, 66, 0.05);
                     background: rgba(255, 255, 255, 1);

                     padding: 30px;
              }
       }
       .sign_password {
              margin-top: 26px;

              span {
                     color: rgba(4, 30, 66, 1);

                     font-family: "Jost";
                     font-style: Medium;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: left;
              }
              input {
                     margin-top: 15px;
                     width: 608px;
                     height: 72px;

                     box-sizing: border-box;
                     border: 1px solid rgba(4, 30, 66, 1);
                     border-radius: 6px;
                     box-shadow: 0px 10px 20px 0px rgba(4, 30, 66, 0.05);
                     background: rgba(255, 255, 255, 1);

                     padding: 30px;
              }
       }
       .sign_inp {
              margin-top: 26px;
              display: flex;
              flex-direction: row;

              input {
                     width: 26px;
                     height: 21px;
                     color: rgba(4, 30, 66, 1)
              }

              span {
                     margin-left: 3px;
                     color: rgba(4, 30, 66, 1);

                     font-family: "Jost";
                     font-style: normal;
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: left;
              }

              strong a {
                     margin-left: 330px;
                     color: rgba(68, 50, 151, 1);

                     font-family: "Jost";
                     font-style: normal;
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: right;
              }
       }
       .sign_login_btn {
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;

                     margin-top: 33px;
                     width: 608.12px;
                     height: 52px;

                     box-sizing: border-box;
                     border: 1px solid rgba(245, 195, 75, 1);
                     border-radius: 6px;
                     /* Button-Shadow */
                     box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
                     background: rgba(245, 195, 75, 1);

                     span a {
                            color: rgba(4, 30, 66, 1);

                            font-family: "Jost";
                            font-style: Medium;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0%;
                            text-align: center;
                     }
       }

       .sign_create_acc {
              margin-top: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              
              span {
                     color: rgba(4, 30, 66, 1);

                     font-family: "Jost";
                     font-style: Medium;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 28px;
                     letter-spacing: 0%;
                     text-align: center;
              }
       }

       .sign_or {
              margin-top: 43.12px;
              display: flex;
              align-items: center;
              text-align: center;
              margin: 20px 0;
       }
       .sign_or::before,
       .sign_or::after {
              content: "";
              flex: 1;
              border-bottom: 1px solid #ccc;
       }
       .sign_or:not(:empty)::before {
                     margin-right: .5em;
       }
       .sign_or:not(:empty)::after {
                     margin-left: .5em;
       }
       
       .sign_buttons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

       }
       .btn1 {
              width: 132.56px;
              height: 59.26px;

              display: flex;
              justify-content: center;
              align-items: center;

              box-sizing: border-box;
              border: 1px solid rgba(25, 103, 210, 1);
              border-radius: 8px;

              span {
                     color: rgba(25, 103, 210, 1);

                     font-family: "Font Awesome 5 Brands";
                     font-style: normal;
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 15px;
                     letter-spacing: 0%;
                     text-align: left;
                     text-transform: capitalize;
              }
       }

       .btn2 {
              width: 132.56px;
              height: 59.26px;

              display: flex;
              justify-content: center;
              align-items: center;

              box-sizing: border-box;
              border: 1px solid rgba(217, 48, 37, 1);
              border-radius: 8px;

              span {
                     color: rgba(217, 48, 37, 1);

                     font-family: "Font Awesome 5 Brands";
                     font-style: normal;
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 15px;
                     letter-spacing: 0%;
                     text-align: left;
                     text-transform: capitalize;
              }
       }

       .btn3 {
              width: 132.56px;
              height: 59.26px;

              display: flex;
              justify-content: center;
              align-items: center;

              box-sizing: border-box;
              border: 1px solid rgba(45, 154, 220, 1);
              border-radius: 8px;

              span {
                     color: rgba(45, 154, 220, 1);

                     font-family: "Font Awesome 5 Brands";
                     font-style: normal;
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 17px;
                     letter-spacing: 0%;
                     text-align: left;
                     text-transform: capitalize;
              }
       } 
       
       .btn4 {
              width: 132.56px;
              height: 59.26px;

              display: flex;
              justify-content: center;
              align-items: center;

              box-sizing: border-box;
              border: 1px solid rgba(4, 30, 66, 1);
              border-radius: 8px;

              span {
                     color: rgba(4, 30, 66, 1);

                     font-family: "Font Awesome 5 Brands";
                     font-style: normal;
                     font-size: 18px;
                     font-weight: 400;
                     line-height: 20px;
                     letter-spacing: 0%;
                     text-align: left;
                     text-transform: capitalize;
              }
       }

}











